
<h1 class="color">New photo</h1>

<div style="width:300px; margin-left:100px;">
<%= simple_form_for @shoot do |shoot| %>
<%= shoot.input :title, label: 'shoot title' %>
      <%= shoot.simple_fields_for :photos do |f| %>
  <div class="form-group">
    <%= f.input :title, label: 'title' %>
    <%= f.input :model, label: 'model' %>
    <%= f.input :shootdate, as: :date, label: 'shoot date' %>
    <%= f.input :category, collection: ["wedding", "hdr", "family", "portrait", "beauty", "landscape", "fashion", "maternity"] %>
    <%= f.input :admittance,collection: ["closed", "open"] %>
    <%= f.button :submit %>

</div>
  <div class="form-group">
    <%= f.label :imageclass, class: 'color' %>
    <%= f.file_field :image, required: true, multiple: true, name: 'photo[image]' %>
  </div>
</div>
<% end %>
<% end %>



<!--   t.references :photo
      t.references :user
      t.string        :title -->